@import url('https://fonts.googleapis.com/css?family=Merriweather:100,200,300,300i,400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

.App {
  text-align: center;
}

.wrapper {
  background: linear-gradient(to right, #fe8c00, #f83600);
  height: 120vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-container__title {
  font-size: 50px;
  letter-spacing: 2px;
  line-height: 1.3;
  font-family: 'Roboto Slab', serif;
}

button {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
  background-color: #222f3e;
  border: none;
  color: white;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}

.container {
  width: 950px;
  margin: 0 auto;
}

.menu {
  text-align: center;
  width: 90%;
}
